body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.landing-wrapper{
    height: calc(100vh + 500px) !important;
}
.speakersandsponsors{
    margin-bottom: 0 !important;
}
.section-head{
    margin: 25px auto;
}
.img-div{
    padding-right: 100px;
    padding-left: 100px;
}
#devfest-logo{
    max-width:100%;
    height: auto;
}
.date-section{
    margin-top: 25px;
    text-align: center;
}
.date-section p{
    display: inline;
    padding: 10px;
    background-color: white;
}
.maincard{
    padding: 50px;
    transform: translateY(50px);
}
.maincard p{
    color: white;
    text-align: justify;
    font-size: 18px;
}
/*88888*/
div.small-img {
    padding: 20px !important;
    vertical-align: top;
    text-align: center;
}

.caption {
    display: block;
    padding-top: 5px;
}
.small-img img{
    width: auto;
    height: 65px;
}
.ideathon-text span{
    display: block;
    font-size: large;
}
.ideathon-div{
    background-color: white;
    /*margin: 30px 0 0 0;*/
    padding : 80px 0 50px 0;
}
.ideathon-div .ideathon-text{
    text-align: center;
    word-spacing: 9px;
    letter-spacing: 1.2px;
}
#ideathon{
    font-weight: bolder;
}
.timeline-wrapper{
    background-color: black;
    padding-bottom: 30px;
}
.timeline-wrapper #timeline-heading{
    color: white;
    text-align: center;
    padding-top: 40px;
    letter-spacing: 1.2px;
}
.speakersandsponsors #speakertext{
    color: black;
    text-align: center;
    padding-top: 40px;
}
footer{
    background-color: black;
    padding: 12px 0px 3px;
}
.speaker-img{
    width: 100px !important;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 100%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 100%, 0% 25%);
}
.speaker{
    position: relative;
}
.speaker .card-stacked{
    border: solid black;
    border-width: 1px 1px 1px 0;
    position: absolute;
    transform: translateX(-50px);
    z-index: 5;
    width: 100%;
    justify-content: center !important;
}
.speaker .card-image{
    z-index:10;
}
.speaker .card-content{
    transform: translateX(10px);
    padding: 10px 10px 10px 50px !important;
    flex-grow: 0 !important;
}
@media screen and (max-width: 600px )
{
    #personlogo{

    }
}
#hexagonimage{
    width: 50px;
    border-right: 1px solid black;
}
.z-depth-1,.card-panel, .card{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.events li a{
    top:100% !important;
}
.cd-horizontal-timeline .events a::after{
    top:-5px !important;
}
.time-in-timeline{
    margin-top: 10px;
}
#timeline-heading,.speakertext{
  margin: 0 !important;
}
.sponsor{
    margin-bottom:20px;
    font-size:150%;
    background:transparent;
    font-family: 'Roboto', sans-serif;
}
.sponsors{
    margin-bottom:2px!important;
}
.sponsor img{
    margin-top:10px;
}
.sponsor img{
    max-width:90%;
}
#registerContainer{
    cursor: pointer;
    width: 200px;
    transition: width .3s;
}
#register{
    margin: 0;
    transition:background-color .1s .3s;
    height: 0;
    overflow: hidden;
}
#register label.active{
    color:black !important;
}
#register input:focus{
    border-bottom:1px solid black !important;
    box-shadow: none;
}
[type=radio].with-gap:checked+label:after, [type=radio]:checked+label:after {
    background-color: #111113;
}
[type=radio].with-gap:checked+label:after, [type=radio].with-gap:checked+label:before, [type=radio]:checked+label:after {
    border: 2px solid #111113;
}
.cardWhite {
    width: 100% !important;
    cursor: auto !important;
    background-color: white;
    color: black !important;
}
@media only screen and (min-width: 601px) {
    .cardWhite {
        width: 90% !important;
    }
}
@media only screen and (min-width: 993px) {
    .cardWhite {
        width: 80% !important;
    }
}
.slick-prev:before {
    color: black !important;
}
.slick-next:before {
    color: black !important;
}
.slick-next {
    right: 10px !important;
    top: 23% !important;
}
.slick-prev {
    left: 10px !important;
    top: 23% !important;
}